---
import { getCollection } from 'astro:content';
import HText from '../hText.astro';
const Classes = await getCollection('classes');
---
<section class="classes">
  <HText text="Classes" class="htext"></HText>
  {Classes.map((School) => (
    <div class="instance">
      <h4 class="school">{School.data.school}</h4>
      {School.data.classes.map((Class) =>(
        <div class="class">
          <h5 class="name">{Class.class}</h5>
        </div>
      ))}
    </div>
  ))}
</section>

<style>
.classes {
  background-color: var(--background);
  padding: 2rem;
}

.instance {
  background-color: var(--secondary);
  margin: 1.5rem auto 0;
  padding: 1rem;
  max-width: 1100px;
  border-radius: 1rem;
}

.school {
  color: var(--primary);
  margin: auto 0;
}

.class {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.name {
  color: var(--text);
  margin: auto 0;
}
/* @media screen and (min-width: 576px){ */
/* } */
/* @media screen and (min-width: 780px){ */
/* } */
/* @media screen and (min-width: 1200px){ */
/* } */
</style>
