---

---
<section class="galleryHeader">
  <div class="hText">
    <div class="hTextB">
      <h4>Gallery<h4>
    </div>
    <div class="hTextR">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </div>
  </div>
</section>

<style>
.galleryHeader {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

.hText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  margin: 0 auto;
}
.hTextB {
  color: var(--primary);
  text-align: center;
}
.hTextR {
  color: var(--text);
  text-align: center;
}

@media screen and (min-width: 576px){ /* At sm breakpoint, apply styles */
  .hText {
    width: 60%;
  }
}
/* @media screen and (min-width: 780px){ /* At md breakpoint, apply styles */

/* } */
@media screen and (min-width: 780px) {
  .galleryHeader {
    background-image: url("../../assets/imgs/staryBackground.jpg");
  }
}
/* @media screen and (min-width: 1200px){ /* At xl breakpoint, apply styles */

/* } */
</style>
