---
import { Image } from "astro:assets";
import FarisaLogo from "../assets/imgs/FarisaLogo.png"
---
<nav>
  <container id="MainNav">
    <div class="navLeft">
      <a href="src/pages/index.html" target="_self">
        <div class="navLogo">
          <div>
            <Image src={FarisaLogo} alt="Farisa's Logo" height="45" />
          </div>
          <div>
            <h4>Dr. Farisa Morales</h4>
          </div>
        </div>
      </a>
      <div class="rotate">
        <div class="words">
          <h5>Scientist</h5>
          <h5>Astronomer</h5>
          <h5>Program Manager</h5>
          <h5>Dean</h5>
          <h5>Instructor</h5>
          <h5>Scientist</h5>
        </div>
      </div>
    </div>
    <div class="navRight">
      <a href="#footerEverything" class="button">
        <h5>Contact Me</h5>
      </a>
    </div>
  </container>
  <container id="Pages">
    <!-- Adding pages here -->
    <div class="dropdown">
      <p class="dropbtn">Research</p>
      <div class="dropdown-content">
        <a href="src/pages/farisaR">My Research</a>
        <a href="src/pages/studentR">Student Research</a>
      </div>
    </div>
    <a href="src/pages/appearsOn" target="_self">
      <p>Appears On</p>
    </a>
    <div class="dropdown">
      <p class="dropbtn">Materials</p>
      <div class="dropdown-content">
        <a href="src/pages/internOpp">Internships</a>
        <a href="#">Class Materials</a>
      </div>
    </div>
    <a href="src/pages/gallery" target="_self">
      <p>Gallery</p>
    </a>
  </container>
</nav>

<style>
#MainNav {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
}

/* Left nav stuff */
.navLeft {
  display: flex;
  align-items: center;
}
.navLeft > a {
  text-decoration: none;
  color: var(--text);
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
  height: 100%;
}
.navLeft > a:hover {
  color: var(--primary);
  /* background-color: var(--accent); */
}
.navLogo {
  display: flex;
  align-items: center;
}
.navLogo > div {
  padding: 0 3px;
}
.rotate{
  display: none;
  align-items: center;
  padding-top: 5px;
}
.words{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 28.48px;
}
.words > h5{
  display: block;
  height: 120%;
  color: var(--primary);
  animation: spin_words 8s infinite;
}
@keyframes spin_words{
  20%{
      transform: translateY(-100%);
  }
  40%{
      transform: translateY(-200%);
  }
  60%{
      transform: translateY(-300%);
  }
  80%{
      transform: translateY(-400%);
  }
  100%{
      transform: translateY(-500%);
  }
}

/* Right nav stuff */
.navRight{
  display: none;
}
.button {
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--accent);
  text-decoration: none;
}
.button:hover {
  background-color: var(--primary-400);
}

/* Pages */
#Pages {
  color: var(--text);
  font-weight: bold;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#Pages p {
  padding: 1rem 0;
  margin: 0;
}
#Pages a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}
#Pages a:hover {
  color: var(--primary);
}
.dropdown {
  float: left;
  overflow: hidden;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color: var(--primary);
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  z-index: 1;
  border-radius:0 0 0.5rem 0.5rem;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: var(--primary);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Media queries */
@media screen and (min-width: 576px){ /* At sm breakpoint, apply styles */
  #Pages {
    justify-content: flex-start;
  }
  #Pages p {
    padding: 1rem 0 1rem 1rem;
  }
}
@media screen and (min-width: 780px){ /* At md breakpoint, apply styles */
  /* Basically, only show the rotating thing from md break point and on*/
  .rotate{
    display: flex;
  }
  .navRight {
    display: flex;
  }
}
@media screen and (min-width: 1200px){ /* At xl breakpoint, apply styles */
  #MainNav {
    padding: 10px 10px;
  }
}
</style>
