---
import { Image } from "astro:assets";
import FarisaLogo from "../assets/imgs/FarisaLogo.png"
---
<nav>
  <container id="MainNav">
    <div class="navLeft">
      <a href="/" target="_self">
        <div class="navLogo">
          <div>
            <Image src={FarisaLogo} alt="Farisa's Logo" height="45" loading="eager" />
          </div>
          <div>
            <h4>Dr. Farisa Morales</h4>
          </div>
        </div>
      </a>
      <div class="rotate">
        <div class="words">
          <h5>Scientist</h5>
          <h5>Astronomer</h5>
          <h5>Program Manager</h5>
          <h5>Dean</h5>
          <h5>Instructor</h5>
          <h5>Scientist</h5>
        </div>
      </div>
    </div>
    <div class="navRight">
      <a href="#footerEverything" class="button">
        <h5>Contact Me</h5>
      </a>
    </div>
  </container>
  <container id="PagesBar">
    <div id="Pages">
      <!-- Adding pages here -->
      <div class="dropdown">
        <p class="dropbtn">Research</p>
        <div class="dropdown-content">
          <a href="/farisaR">My Research</a>
          <a href="/studentR">Student Research</a>
        </div>
      </div>
      <a href="/appearsOn" target="_self">
        <p>Appears On</p>
      </a>
      <div class="dropdown">
        <p class="dropbtn">Materials</p>
        <div class="dropdown-content">
          <a href="/internOpp">Internships</a>
          <a href="#">Class Materials</a>
        </div>
      </div>
      <a href="/gallery" target="_self">
        <p>Gallery</p>
      </a>
    </div>
    <div id="NavIcons">
      <div id="NavSocials">
        <div class="socials">
          <a href="https://www.facebook.com/farisa.morales" target="_blank">
            <img src="/imgs/icons/facebook.svg" alt="facebook logo">
          </a>
          <!-- <a href="https://www.x.com/FarisaMorales" target="_blank"> -->
          <!--   <img src="/imgs/icons/x.svg" alt="x logo"> -->
          <!-- </a> -->
          <a href="https://www.linkedin.com/in/farisamorales/" target="_blank">
            <img src="/imgs/icons/linkedin.svg" alt="linkedIn logo">
          </a>
          <a href="http://www.youtube.com/channel/UC-ml_bFgAHR7wXwsteE-A6g" target="_blank">
            <img src="/imgs/icons/logo-youtube.svg" alt="youtube logo">
          </a>
        </div>
      </div>
      <div id="NavProf">
        <div class="socials">
          <a href="https://science.jpl.nasa.gov/people/morales/" class="prof" target="_blank">
            <img src="/imgs/icons/nasa-logo.svg" alt="NASA logo">
            <!-- <p>JPL</p> -->
          </a>
          <a href="https://orcid.org/0000-0001-9414-3851" class="prof" target="-blank">
            <img src="/imgs/icons/orcid.org.svg" alt="ORCID logo">
            <!-- <p>ORCID</p> -->
          </a>
          <a href="https://ui.adsabs.harvard.edu/search/p_=0&q=orcid%3A0000-0001-9415-3851&sort=date%20desc%2C%20bibcode%20desc"
            class="prof" target="-blank">
            <img src="/imgs/icons/ads.svg" alt="ADS logo">
            <!-- <p>ADS</p> -->
          </a>
          <a href="https://www.researchgate.net/profile/Farisa-Morales" class="prof" target="-blank">
            <img src="/imgs/icons/logo_ResearchGate.svg" alt="Research Gate logo">
            <!-- <p>Research Gate</p> -->
          </a>
        </div>
      </div>
    </div>
  </container>
</nav>

<style>
#MainNav {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
}

/* Left nav stuff */
.navLeft {
  display: flex;
  align-items: center;
}
.navLeft > a {
  text-decoration: none;
  color: var(--text);
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
  height: 100%;
}
.navLeft > a:hover {
  color: var(--primary);
  /* background-color: var(--accent); */
}
.navLogo {
  display: flex;
  align-items: center;
}
.navLogo > div {
  padding: 0 3px;
}
.rotate{
  display: none;
  align-items: center;
  padding-top: 5px;
}
.words{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 28.48px;
}
.words > h5{
  display: block;
  height: 120%;
  color: var(--primary);
  animation: spin_words 8s infinite;
}
@keyframes spin_words{
  20%{
      transform: translateY(-100%);
  }
  40%{
      transform: translateY(-200%);
  }
  60%{
      transform: translateY(-300%);
  }
  80%{
      transform: translateY(-400%);
  }
  100%{
      transform: translateY(-500%);
  }
}

/* Right nav stuff */
.navRight{
  display: none;
}
.button {
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--accent);
  text-decoration: none;
}
.button:hover {
  background-color: var(--primary-400);
}

/* Pages */
#PagesBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--accent);
}
#Pages {
  width: 100%;
  color: var(--text);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#Pages p {
  padding: 1rem 0;
  margin: 0;
}
#Pages a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}
#Pages a:hover {
  color: var(--primary);
}
.dropdown {
  float: left;
  overflow: hidden;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color: var(--primary);
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  z-index: 10;
  border-radius:0 0 0.5rem 0.5rem;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: var(--primary);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Social Icons */
#NavIcons {
  display: none;
  flex-direction: row-reverse;
  margin: auto 0;
}
.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.socials img {
  height: 23px;
  display: flex;
  align-items: center;
  padding-right: 0.25rem;
}
.socials a {
  padding-right: 0.75rem;
  padding: 0.5rem 0.75rem 0.5rem 0;
}
.prof {
  display: flex;
  align-items: center;
  color: var(--text);
  text-decoration: none;
}
.prof > p{
  margin: 0px;
}

/* Media queries */
@media screen and (min-width: 576px){ /* At sm breakpoint, apply styles */
  #Pages {
    justify-content: flex-start;
  }
  #Pages p {
    padding: 1rem 0 1rem 1rem;
  }
}
@media screen and (min-width: 780px){ /* At md breakpoint, apply styles */
  /* Basically, only show the rotating thing from md break point and on*/
  #Pages {
    width: auto;
  }
  .rotate{
    display: flex;
  }
  .navRight {
    display: flex;
  }
  #NavIcons {
    display: flex;
  }
}
@media screen and (min-width: 1200px){ /* At xl breakpoint, apply styles */
  #MainNav {
    padding: 10px 10px;
  }
}
</style>
