---
import { Image, getImage } from 'astro:assets';

import Stars from '../../assets/imgs/numbers.jpeg';
import Pfp from '../../assets/imgs/pfp.jpg';

const optimizedImage = await getImage({ src: Stars });
const backgroundUrl = `url(${optimizedImage.src})`;
---
<section class="farisa" style={`--bg-url: ${backgroundUrl}`}}>
  <div class="color-overlay"></div>
  <div class="content">
    <div class="hText">
      <div class="hTextB">
        <h4>Hello, I'm Farisa</h4>
      </div>
      <div class="hTextR">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
    </div>
    <div class="face">
      <!-- Definetly want to dim this picture down a lil bit -->
      <Image 
        src={Pfp}
        alt="Farisa's Face"
        loading="eager"
      />
    </div>
  </div>
</section>

<style>
.farisa {
  background-size: cover; /* Zoom to fill, crop if needed */
  background-position: center; /* Keep it centered */
  background-repeat: no-repeat;
  padding: 2rem;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  margin: 0 auto;
  gap: 1rem;

}

.hText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  margin: auto 0;
}
.hTextB {
  color: var(--primary);
}
.hTextR {
  color: var(--text);
}

.face {
  margin: 0 auto;
}

.face > img {
  width: 100%;
  height: auto;
  max-width: 330px;
  border: solid var(--text) 0.5rem;
  border-radius: 50%;
}

@media screen and (min-width: 576px){ /* At sm breakpoint, apply styles */
  .content {
    flex-direction: row;
    gap: 1rem;
  }
  .hText {
    width: 30%;
  }
  .face {
    width: 30%;
    margin: auto 0;
  }
}
@media screen and (min-width: 780px) {
  .farisa {
    background-image: var(--bg-url);
  }
  .color-overlay {
    background-color: rgba(11, 25, 44, 0.1); /* adjust alpha (0.5–0.8) */
    mix-blend-mode: multiply; /* or 'overlay' */
    position: absolute;
    inset: 0;
    background-color: #0B192C;
    mix-blend-mode: color; /* or try multiply/overlay/darken */
    opacity: 0.75;
    z-index: 1;
  }
  .content {
    position: relative;
    z-index: 2; /* higher than the overlay */
    color: white; /* make sure content is visible */
  }
  .face > img {
    min-width: 250px;
  }
}
/* @media screen and (min-width: 1200px){ /* At xl breakpoint, apply styles */

/* } */
</style>
