---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>('../../assets/imgs/gallery/*.{jpeg,jpg,png,gif}', {
  eager: true,
  import: 'default',
});
console.log(images);

// Make into array, then take the frist 5 images
const shownImages = Object.values(images).slice(0, 5);
---
<section class="gPreview">
  <h3>Gallery</h3>
  <!-- {shownImages.map((img, i) => ( -->
  <!--   <img -->
  <!--     src={img.src} -->
  <!--     alt={`Gallery image ${i + 1}`} -->
  <!--     loading="lazy" -->
  <!--   /> -->
  <!-- ))} -->
</section>

<style>
.gPreview {
  padding: 1.5rem;
}

.gPreview > h3 {
  color: var(--text);
  text-align: center;
}

/* @media screen and (min-width: 576px){ /* At sm breakpoint, apply styles */ */

/* } */
/* @media screen and (min-width: 780px){ /* At md breakpoint, apply styles */ */

/* } */
/* @media screen and (min-width: 1200px){ /* At xl breakpoint, apply styles */ */

/* } */
</style>
